.container{
	width: 1170px;
	margin:0px auto;

}
.display-inline-block{
	display: inline-block;
}
.logo{
	width:100px;
	margin-right: 50px;
	vertical-align: middle;
	

}
.witeli{
	color: red;
}
.nav{
	display: inline-block;
	margin-bottom: 83px;
	
}
.nav-li{
	display: inline-block;
	margin-left: 15px;
}
.image{

	margin-top: 30px;
	margin-bottom: 30px;
	display: inline-block;
	vertical-align: top;
	}
	.date{
		font-size: 22px;

	}
.blue-box{
	
	background-color: #3D58A6;
    display: inline-block;
	font-size:35px;
	padding: 15px;
	margin-top: 30px;
	
    }
    .date{
    	color: blue;
    
     
    }
body{
    	padding: 30px 0 0 30px;
    }
.satauri{
	font-size: 20px;
	margin-top: 30px;
	}
.article-p{
	width: 344px;
	font-size: 20px;
	line-height: 28px;
	vertical-align: top;
	margin-left: 53px;
}

.contacts{
	margin-top: 120px;
 	margin-left: 100px;
 	display: inline-block;

 }
.map{
	display: inline-block;
	width: 1000px;
	height: 600px;
	margin-top:50px;
	margin-left: 50px;
}
.article-box{
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-top: 15px;
	padding-left: 18px;
	padding-top: 18px;
	padding-bottom: 36px;


}

.img{
	height: 30px;
	display: inline-block;
	margin-top: 50px;
	}

.divider{
     display: inline-block;
     height: 30px;
     width: 2px;
     background-color: blue;
     margin:0 30px;
 }
.image-article{
	height: 130px;

}
.baneri{
	margin-bottom: 123px;
}
.middle{
	margin-bottom: 36px;
}
.text{
	margin-bottom: 18px;
}
.wright-box{
	margin-left: 25px;
}
.article-box2{
	background-color: #F2F2F2;
	height: 570px;
}
/*contact page*/
 .contact-section{
 	background-color: #E6E6E6;
 	padding: 40px 0 55px 0;
 	margin-top:30px;
 }
 .contact-span{
 	font-size: 16px;
 	color: #808080;
 	font-family: 'Roboto', sans-serif;
 }
 .contact-title{
 	color: #3D58A6;
 	font-size: 20px;
 	 font-family: 'BPG Nino Mtavruli Bold';
 }
 .left-block{
 	vertical-align: top;
 	margin-right:35px;
 }
 .right-block{
 	vertical-align: top;
 	width: 875px;
 	height: 466px;
 }
 .right-block iframe{
 	width: 100%;
 	height: 100%;
 }
/*end contact page